
.Gender{
    color: black;
    width: 200px;
    float: left;
    margin: 20px;
    border: 100px cyan;
    padding: 6px;
    margin: 5px;
    /* background-color: rgb(3, 38, 39); */
}
#akanName{
    display: block
}

.name{
    display: block;
   }